MemTotal:       16000000 kB
MemFree:         1000000 kB
MemAvailable:    6000000 kB
Buffers:          100000 kB
Cached:          2500000 kB
SReclaimable:     200000 kB
SwapTotal:       2000000 kB
SwapFree:         500000 kB
